{% extends "dashboard/user/base.html" %}

{% block content %}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tickets/</span>Create New</h4>
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Create Issue</h5>
      <small class="text-muted float-end">Default label</small>
    </div>
    <div class="card-body">
      <form method="post" action="">
        <div class="mb-3">
          <label class="form-label" for="basic-default-fullname">Short Description</label>
          <input type="text" class="form-control" name="ticket-description" id="basic-default-fullname" placeholder="" required/>
        </div>
        <div class="mb-3">
          <label class="form-label" for="basic-default-message">Detailed Issue</label>
          <textarea
            name="ticket-issue"
            id="basic-default-message"
            class="form-control"
            placeholder=""
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Raise Issue</button>
      </form>
    </div>
</div>
{% endblock %}