{% extends 'dashboard/user/base.html' %}

{% block content %}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tickets/</span>Ticket Detail</h4>

<div class="card">

        <div class="table-responsive text-nowrap">
          <table id="tickets" class="table table-borderless">
            <tbody class="table-border-bottom-0">
                <tr>
                    <td width="100">Ticket Id</td>
                    <td>: {{ ticket[0]['id']}}</td>
                </tr>
                <tr>
                    <td>Short Description</td>
                    <td>: {{ ticket[0]['description']}}</td>
                </tr>
                <tr>
                    <td>Detailed Issue</td>
                    <td>: {{ ticket[0]['issue']}}</td>
                </tr>
                <tr>
                    <td>Agent</td>
                    <td>: {{ ticket[0]['agent']}}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>: <span class="badge {{ ticket[0]['css']}}">{{ ticket[0]['status']}}</span></td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>: {{ ticket[0]['created']}}</td>
                </tr>
                <tr>
{#                    <td></td>#}
                    <td><a href="/user/tickets/delete/{{ ticket[0]['id']}}/"><button class="btn btn-primary mt-2">Delete</button></a></td>
                </tr>
            </tbody>
          </table>
        </div>
</div>

{% endblock %}